{{extend 'layout.html'}}
<hr>
<h1 style="text-align: center; margin-top: 50px;">UFO/Meteorite Finder Application</h1>

<form align="center" action="goToMeteorite()">
    <input type="submit" style="margin-top: 40px; width: 500px; height: 100px; font-size: 30px; background-color: #4475c4; color: white;" value="Search Meteorite Landings" />
</form>

<form align="center" action="goToUfo()">
    <input type="submit" style="margin-top: 40px; width: 500px; height: 100px; font-size: 30px; background-color: #4475c4; color: white;" value="Search UFO Sigthings" />
</form>

<form align="center" action="goToMap()">
    <input type="submit" style="margin-top: 40px; width: 500px; height: 100px; font-size: 30px; background-color: #4475c4; color: white;" value="View Map" />
</form>

<form align="center" action="goToUpdate()">
    <input type="submit" style="margin-top: 40px; margin-bottom: 80px; width: 500px; height: 100px; font-size: 30px; background-color: #4475c4; color: white;" value="Update Database" />
</form>
